.container {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-left: auto;
  overflow-y: scroll;

  /* Esconde a barra de scroll no Chrome, Edge e Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge antigo */
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}

.highlight {
  color: #e2e8f0;
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 30px 40px;
  }

  main {
    margin-left: 0;
    gap: 60px;
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    padding: 30px 30px;
  }
}

