.NavContainer {
    width: 575px;
    height: 15px;
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 90%;
    left: 150px;
}

.NavContainer button {
    width: 75px;
    height: 15px;
    border: none;
    border-radius: 20px;
}
